{% extends 'catalog/base.html' %}
{% load media_path %}

{% block content %}

<div class="container">

<div class="row justify-content-md-center">
    <div class="col-6">
    <div class="card">
        <img src="{{ object.preview | media_path }}" alt="" class="card-img-top" alt="...">

    </div>
</div>
    <div class="col-6 col">
    <div class="card">
        <div class="card-body">
            {% if object.slug %}
            <h5 class="card-title">{{ object.title }} ( {{ object.slug }})</h5>
            {% else %}
            <h5 class="card-title">{{ object.title }}</h5>
            {% endif %}
            <p class="card-text">{{ object.content }}</p>
            <h3>Кол-во просмотров: {{ object.views_count }}</h3>
            <div class="btn-group">
                <a class="btn btn-primary" href="{% url 'blog:edit_article' object.id %}">Редактировать</a>
                <a class="btn btn-primary" href="{% url 'blog:delete_article' object.id %}">Удалить</a>
            </div>
        </div>
    </div>
    </div>


</div>
</div>
{% endblock %}