{% extends 'catalog/base.html' %}
{% block links %}
<script type="text/javascript" src="/static/js/touchTouch.jquery.js"></script>
<link rel="stylesheet" href="/static/css/isotope.css" type="text/css" media="screen">
{% endblock %}
{% block content %}

<div class="row">
    <div class="span12">

        <div id="isotope-options">
            <ul id="isotope-filters" class="clearfix">
                <li><a href="#" class="selected" data-filter="*">show all</a></li>
                <li><a href="#" data-filter=".isotope-filter1">category 1</a></li>
                <li><a href="#" data-filter=".isotope-filter2">category 2</a></li>
                <li><a href="#" data-filter=".isotope-filter3">category 3</a></li>
            </ul>
        </div>

        <ul class="thumbnails" id="isotope-items">
            <li class="span3 isotope-element isotope-filter1">
                <div class="thumb-isotope">
                    <div class="thumbnail clearfix">
                        <a href="/static/images/blank.png">
                            <figure>
                                <img src="/static/images/gallery01.jpg" alt=""><em></em>
                            </figure>
                            <div class="caption">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                            </div>
                        </a>
                    </div>
                </div>
            </li>
            <li class="span3 isotope-element isotope-filter2">
                <div class="thumb-isotope">
                    <div class="thumbnail clearfix">
                        <a href="/static/images/blank.png">
                            <figure>
                                <img src="/static/images/gallery02.jpg" alt=""><em></em>
                            </figure>
                            <div class="caption">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                            </div>
                        </a>
                    </div>
                </div>
            </li>
            <li class="span3 isotope-element isotope-filter3">
                <div class="thumb-isotope">
                    <div class="thumbnail clearfix">
                        <a href="/static/images/blank.png">
                            <figure>
                                <img src="/static/images/gallery03.jpg" alt=""><em></em>
                            </figure>
                            <div class="caption">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                            </div>
                        </a>
                    </div>
                </div>
            </li>
            <li class="span3 isotope-element isotope-filter1">
                <div class="thumb-isotope">
                    <div class="thumbnail clearfix">
                        <a href="/static/images/blank.png">
                            <figure>
                                <img src="/static/images/gallery04.jpg" alt=""><em></em>
                            </figure>
                            <div class="caption">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                            </div>
                        </a>
                    </div>
                </div>
            </li>
            <li class="span3 isotope-element isotope-filter2">
                <div class="thumb-isotope">
                    <div class="thumbnail clearfix">
                        <a href="/static/images/blank.png">
                            <figure>
                                <img src="/static/images/gallery05.jpg" alt=""><em></em>
                            </figure>
                            <div class="caption">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                            </div>
                        </a>
                    </div>
                </div>
            </li>
            <li class="span3 isotope-element isotope-filter3">
                <div class="thumb-isotope">
                    <div class="thumbnail clearfix">
                        <a href="/static/images/blank.png">
                            <figure>
                                <img src="/static/images/gallery06.jpg" alt=""><em></em>
                            </figure>
                            <div class="caption">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                            </div>
                        </a>
                    </div>
                </div>
            </li>
            <li class="span3 isotope-element isotope-filter1">
                <div class="thumb-isotope">
                    <div class="thumbnail clearfix">
                        <a href="/static/images/blank.png">
                            <figure>
                                <img src="/static/images/gallery07.jpg" alt=""><em></em>
                            </figure>
                            <div class="caption">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                            </div>
                        </a>
                    </div>
                </div>
            </li>
            <li class="span3 isotope-element isotope-filter2">
                <div class="thumb-isotope">
                    <div class="thumbnail clearfix">
                        <a href="/static/images/blank.png">
                            <figure>
                                <img src="/static/images/gallery08.jpg" alt=""><em></em>
                            </figure>
                            <div class="caption">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                            </div>
                        </a>
                    </div>
                </div>
            </li>
            <li class="span3 isotope-element isotope-filter3">
                <div class="thumb-isotope">
                    <div class="thumbnail clearfix">
                        <a href="/static/images/blank.png">
                            <figure>
                                <img src="/static/images/gallery09.jpg" alt=""><em></em>
                            </figure>
                            <div class="caption">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                            </div>
                        </a>
                    </div>
                </div>
            </li>
            <li class="span3 isotope-element isotope-filter1">
                <div class="thumb-isotope">
                    <div class="thumbnail clearfix">
                        <a href="/static/images/blank.png">
                            <figure>
                                <img src="/static/images/gallery10.jpg" alt=""><em></em>
                            </figure>
                            <div class="caption">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                            </div>
                        </a>
                    </div>
                </div>
            </li>
            <li class="span3 isotope-element isotope-filter2">
                <div class="thumb-isotope">
                    <div class="thumbnail clearfix">
                        <a href="/static/images/blank.png">
                            <figure>
                                <img src="/static/images/gallery11.jpg" alt=""><em></em>
                            </figure>
                            <div class="caption">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                            </div>
                        </a>
                    </div>
                </div>
            </li>
            <li class="span3 isotope-element isotope-filter3">
                <div class="thumb-isotope">
                    <div class="thumbnail clearfix">
                        <a href="/static/images/blank.png">
                            <figure>
                                <img src="/static/images/gallery12.jpg" alt=""><em></em>
                            </figure>
                            <div class="caption">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                            </div>
                        </a>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>
</div>
{% endblock %}