{% extends 'catalog/base.html' %}
{% block content %}

<div class="slogan1">
    <div class="txt1">Custom Floral Arrangements and wonderful gifts</div>
    <div class="txt2">Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor incididunt ut
        labore et dolore magna. Ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor incididunt ut
        labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
        aliquip.
    </div>
    <a href="#" class="button1">Visite our portfolio</a>
</div>

<div class="banners">
    <div class="row">
        <div class="span4 banner banner1">
            <div class="banner_inner">
                <a href="#">
                    <img src="/static/images/banner1.jpg" alt="" class="img">
                    <div class="caption">
                        <div class="txt1">Exclusive plants</div>
                        <div class="txt2">Lorem ipsum dolor sit amet</div>
                    </div>
                </a>
            </div>
        </div>
        <div class="span4 banner banner2">
            <div class="banner_inner">
                <a href="#">
                    <img src="/static/images/banner2.jpg" alt="" class="img">
                    <div class="caption">
                        <div class="txt1">Flower Designs</div>
                        <div class="txt2">Lorem ipsum dolor sit amet</div>
                    </div>
                </a>
            </div>
        </div>
        <div class="span4 banner banner3">
            <div class="banner_inner">
                <a href="#">
                    <img src="/static/images/banner3.jpg" alt="" class="img">
                    <div class="caption">
                        <div class="txt1">Holidays & Occasions</div>
                        <div class="txt2">Lorem ipsum dolor sit amet</div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="span8">
        <div class="pad_right20 vl1">

            <h2>Exclusive Bouquets<br><span>lorem ipsum dolor sit amet conse ctetur</span></h2>

            <p>
                Lorem ipsum dolor sit amet consectetuer adipi scing elraesent ves tibm moeacus.
                Aenean nonummy hendrerit mauris. Phasellus porta. Fusce suscipit varius mi. Cum sociis natoque penatibus
                et magnis dis parturientdiculus mus. Nulla dui. Fusce feugiat malesuada odio. Morbi nunc odio gravida
                atcursus necuctus a loremnas tristique orci ac sem. Duis ultricies pharetra magna. Donec accumsan
                malesuada oruris fermentum dictum magna. Sed laoreet al iquam leo. Phasellus porta. Fusce suscipit
                varius mi. Cum sociis natoque penatibus et magnis. Ut tellus dolor dapibus eget eleme.
            </p>

            <a href="#" class="button1">read more</a>


        </div>
    </div>
    <div class="span4">

        <h2>Services<br><span>what we offer</span></h2>

        <ul class="ul1">
            <li><a href="#">Quisque nullatibulum libero</a></li>
            <li><a href="#">Scelerisque eget, malesuada at</a></li>
            <li><a href="#">Vivamus eget niiam cursus leo</a></li>
            <li><a href="#">Nulla facilisinean nec eros</a></li>
            <li><a href="#">Vestibulum ante ipsum</a></li>
            <li><a href="#">Primis in faucib</a></li>
        </ul>
    </div>
</div>
{% endblock %}
