<div class="menu_wrapper">
    <div class="arr_left"></div>
    <div class="arr_right"></div>
    <div class="navbar navbar_ navbar-expand-lg">
        <div class="container-fluid ps-0">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse navbar-collapse_" id="navbarTogglerDemo03">
                <ul class="navbar-nav navbar-nav_ nav">
                    <li><a href="{% url 'catalog:home' %}">home page</a></li>
                    <li class="sub-menu sub-menu-1"><a href="{% url 'catalog:about' %}">about us</a>
                        <ul>
                            <li><a href="{% url 'catalog:about' %}">who we are</a></li>
                            <li><a href="{% url 'catalog:about' %}">our mission</a></li>
                            <li><a href="{% url 'catalog:about' %}">history</a></li>
                            <li><a href="{% url 'catalog:404' %}">404 page not found</a></li>
                        </ul>
                    </li>
                    <li><a href="{% url 'catalog:services' %}">services</a></li>
                    <li><a href="{% url 'catalog:gallery' %}">gallery</a></li>
                    <!--  class="active"-->
                    <li><a href="{% url 'catalog:prices' %}">prices</a></li>
                    <li><a href="{% url 'catalog:contacts' %}">contacts</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>