{% extends 'catalog/base.html' %}
{% load media_path %}

{% block content %}

<div class="container">

<div class="row justify-content-md-center">
    <div class="col-6">
    <div class="card">
        <img src="{{ object.preview | media_path }}" alt="" class="card-img-top" alt="...">

    </div>
</div>
    <div class="col-6 col">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">{{ object.title }}</h5>
            <p class="card-text">{{ object.description }}</p>
            <h3>Цена: {{ object.price }} руб.</h3>
             {% if object.active_version %}
            <h3>Версия: {{ object.active_version }}</h3>
            {% else %}
            <h3>Нет активной версии</h3>
            {% endif %}
            {% if object.is_published %}
            <h3>Опубликован</h3>
            {% else %}
            <h3>Не опубликован</h3>
            {% endif %}
            {% if object.category %}
            <h3>Категория: {{ object.category }}</h3>
            {% else %}
            <h3>Без категории</h3>
            {% endif %}
            {% if object.creator %}
            <h3>Автор: {{ object.creator }}</h3>
            {% endif %}
            <div class="btn-group">
                {% if user == object.creator or user.is_moderator or user.is_staff %}
                <a class="btn btn-primary" href="{% url 'catalog:product_edit' object.id%}">Редактировать</a>
                {% endif %}
                {% if user.is_staff %}
                <a class="btn btn-primary" href="{% url 'catalog:product_delete' object.id%}">Удалить</a>
                {% endif %}
            </div>
        </div>
    </div>
    </div>


</div>
</div>
{% endblock %}