{% extends 'catalog/base.html' %}
{% block content %}
<div class="row">
    <div class="span9">

        <h1>Best Services</h1>

        <div class="row">
            <div class="span3">
                <div class="thumb4">
                    <div class="img-thumbnail clearfix">
                        <figure><img src="/static/images/services01.jpg" alt="" class="img-200"></figure>
                        <div class="caption">
                            <h3>Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed</h3>
                            <p>
                                Aenean nonummy hendrerit mauris. Phasellus porta. Fusce suscipit varius mi. Cum sociis
                                natoque penatibus et magnis dis parturientdiculus mus. Nulla dui. Fusce feugiat
                                malesuada odio. Morbi nunc odio gravida atcursus necuctus a loremnas tristique orci ac
                            </p>
                            <div class="line2"></div>
                            <div class="text-right"><a href="#" class="button2">read more</a></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="span3">
                <div class="thumb4">
                    <div class="img-thumbnail clearfix">
                        <figure><img src="/static/images/services02.jpg" alt="" class="img-200"></figure>
                        <div class="caption">
                            <h3>Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed</h3>
                            <p>
                                Aenean nonummy hendrerit mauris. Phasellus porta. Fusce suscipit varius mi. Cum sociis
                                natoque penatibus et magnis dis parturientdiculus mus. Nulla dui. Fusce feugiat
                                malesuada odio. Morbi nunc odio gravida atcursus necuctus a loremnas tristique orci ac
                            </p>
                            <div class="line2"></div>
                            <div class="text-right"><a href="#" class="button2">read more</a></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="span3">
                <div class="thumb4">
                    <div class="img-thumbnail clearfix">
                        <figure><img src="/static/images/services03.jpg" alt="" class="img-200"></figure>
                        <div class="caption">
                            <h3>Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed</h3>
                            <p>
                                Aenean nonummy hendrerit mauris. Phasellus porta. Fusce suscipit varius mi. Cum sociis
                                natoque penatibus et magnis dis parturientdiculus mus. Nulla dui. Fusce feugiat
                                malesuada odio. Morbi nunc odio gravida atcursus necuctus a loremnas tristique orci ac
                            </p>
                            <div class="line2"></div>
                            <div class="text-right"><a href="#" class="button2">read more</a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>
    <div class="span3">

        <h2>Our Services</h2>

        <ul class="ul1">
            <li><a href="#">Quisque nullatibulum libero</a></li>
            <li><a href="#">Scelerisque eget, malesuada at</a></li>
            <li><a href="#">Vivamus eget niiam cursus leo</a></li>
            <li><a href="#">Nulla facilisinean nec eros</a></li>
            <li><a href="#">Vestibulum ante ipsum</a></li>
            <li><a href="#">Primis in faucib</a></li>
            <li><a href="#">Quisque nullatibulum libero</a></li>
            <li><a href="#">Scelerisque eget, malesuada at</a></li>
            <li><a href="#">Vivamus eget niiam cursus leo</a></li>
            <li><a href="#">Nulla facilisinean nec eros</a></li>
            <li><a href="#">Vestibulum ante ipsum</a></li>
            <li><a href="#">Primis in faucib</a></li>
        </ul>


    </div>
</div>

<div class="row">
    <div class="span12">

        <h2>Services Overview </h2>

        <div class="row">
            <div class="span4">
                <div class="thumb4">
                    <div class="img-thumbnail clearfix">
                        <figure><img src="/static/images/services04.jpg" alt=""></figure>
                        <div class="caption">
                            <h3>Lorem ipsum dolor sit amet conse ctetur</h3>
                            <p>
                                Aenean nonummy Phasellus porta. Fusce suscipit varius mi.
                            </p>
                            <div class="line2"></div>
                            <div class="text-right"><a href="#" class="button2">read more</a></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="span4">
                <div class="thumb4">
                    <div class="img-thumbnail clearfix">
                        <figure><img src="/static/images/services05.jpg" alt=""></figure>
                        <div class="caption">
                            <h3>Lorem ipsum dolor sit amet conse ctetur</h3>
                            <p>
                                Aenean nonummy Phasellus porta. Fusce suscipit varius mi.
                            </p>
                            <div class="line2"></div>
                            <div class="text-right"><a href="#" class="button2">read more</a></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="span4">
                <div class="thumb4">
                    <div class="img-thumbnail clearfix">
                        <figure><img src="/static/images/services06.jpg" alt=""></figure>
                        <div class="caption">
                            <h3>Lorem ipsum dolor sit amet conse ctetur</h3>
                            <p>
                                Aenean nonummy Phasellus porta. Fusce suscipit varius mi.
                            </p>
                            <div class="line2"></div>
                            <div class="text-right"><a href="#" class="button2">read more</a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="span4">
                <div class="thumb4">
                    <div class="img-thumbnail clearfix">
                        <figure><img src="/static/images/services07.jpg" alt="" class="img-200"></figure>
                        <div class="caption">
                            <h3>Lorem ipsum dolor sit amet conse ctetur</h3>
                            <p>
                                Aenean nonummy Phasellus porta. Fusce suscipit varius mi.
                            </p>
                            <div class="line2"></div>
                            <div class="text-right"><a href="#" class="button2">read more</a></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="span4">
                <div class="thumb4">
                    <div class="img-thumbnail clearfix">
                        <figure><img src="/static/images/services08.jpg" alt="" class="img-200"></figure>
                        <div class="caption">
                            <h3>Lorem ipsum dolor sit amet conse ctetur</h3>
                            <p>
                                Aenean nonummy Phasellus porta. Fusce suscipit varius mi.
                            </p>
                            <div class="line2"></div>
                            <div class="text-right"><a href="#" class="button2">read more</a></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="span4">
                <div class="thumb4">
                    <div class="img-thumbnail clearfix">
                        <figure><img src="/static/images/services09.jpg" alt="" class="img-200"></figure>
                        <div class="caption">
                            <h3>Lorem ipsum dolor sit amet conse ctetur</h3>
                            <p>
                                Aenean nonummy Phasellus porta. Fusce suscipit varius mi.
                            </p>
                            <div class="line2"></div>
                            <div class="text-right"><a href="#" class="button2">read more</a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}